.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 200px;
  margin: 10px;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 5px 0;
}
